VITE_SUPABASE_URL=https://pztoembfxnlhurxlyeuh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_caL1-szJT6tcIJr29K5hHg_nC8txi4Q
VITE_SUPABASE_ANON_KEY=sb_publishable_caL1-szJT6tcIJr29K5hHg_nC8txi4Q